<footer class="site-footer">
    <div class="wrapper">
        <div class="start-box">
            <a href="" class="title">Agora</a>
            <p class="desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi labore esse placeat porro magnam vel at fugiat nemo.</p>
            <div class="links">
                <a href="">#bestsite</a>
                <a href="">#placeforsneakers</a>
                <a href="">#shoes</a>
            </div>
        </div>
        <div class="middle-box">
            <div class="box">
                <p class="title">Get Help</p>
                <a href="">Home</a>
                <a href="">About us</a>
                <a href="">Contacts</a>
                <a href="">Address</a>
            </div>
            <div class="box">
                <p class="title">Check Also</p>
                <a href="">Gallery</a>
                <a href="">Blog</a>
                <a href="">Questions</a>
                <a href="">Place</a>
            </div>
        </div>
        <div class="last-box">
            <div class="links">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
                <a href=""><i class="fab fa-google-plus-g"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
            </div>
            <div class="box">
                <p class="desc">Some text writen down here.</p>
                <a href="">@agorashop</a>
            </div>
        </div>
    </div>
</footer>