<input type="checkbox" id="nav-main-toggle" name="nav-main-toggle">
<header class="site-header">
    <div class="wrapper">
        <nav class="navigation-left">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contacts</a></li>
            </ul>
        </nav>
        <a href="" class="site-title">Agora</a>
        <label id="nav-toggle" for="nav-main-toggle" class="fas" for=""><span></span></label>
        <nav class="navigation-right">
            <ul>
                <li><a href="">Gallery</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Faq</a></li>
            </ul>
        </nav>
    </div>
</header>