<section class="newsletter">
    <div class="box">
        <header>
            <p class="title">Subscribe to our newsletter</p>
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, consequatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Lorem ipsum dolor sit amet!</p>
        </header>
        <div class="wrapper">
            <form action="#">
                <p class="field">
                    <span class="input">
                        <input type="text">
                        <span class="actions"></span>
                    </span>
                    <input type="submit" class="button" value="Subscribe">
                </p>
            </form>
        </div>
    </div>
</section>