.content {
    background-color: #323232;
    background-image: url(https://thumbs.dreamstime.com/b/seamless-black-white-texture-contour-pattern-running-shoes-sneaker-seamless-black-white-texture-100576255.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    position: relative;
    height: 200vh;

    &::before {
        display: block;
        content: '';
        background: rgba(40, 40, 40, 0.95);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    .wrapper{
        position: relative;
        top: -2rem;
        background-color: white;
        z-index: 30;
        border-radius: 0.2rem;
        box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.5);
    }

    .service{
        display: flex;
        justify-content: center;
        align-items: center;

        .box {
            text-align: center;
            padding: 2rem;

            i {
                color: #2c96d3;
                font-size: 150%;
            }

            .title {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 105%;
            }

            .desc {
                color: rgb(94, 94, 94);
                font-size: 80%;
            }

            &:not(last-child){
                // border-right: 1px solid rgb(185, 185, 185);
            }
        }
    }

    .deal {
        // border-top:  1px solid rgb(185, 185, 185);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .description{
            flex-basis: 50%;
            text-align: center;
            padding: 0 2rem;

            .title {
                font-weight: bold;
                font-size: 105%;
            }

            .desc {
                color: rgb(94, 94, 94);
                font-size: 80%;
            }

            .price {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1rem 0; 

                .new-price {
                    font-weight: bold;
                    font-size: 120%;
                    color: #2c96d3;
                    margin-right: 1rem;
                    margin-bottom: 0.5rem;
                }

                .old-price{
                    font-weight: bold;
                    font-size: 120%;
                    color: black;
                    text-decoration: line-through;
                }
            }

            .date {
                display: flex;
                justify-content: center;
                align-items: center;

                .boxi {
                    text-align: center;
                    border: 1px solid rgb(199, 199, 199);
                    border-radius: 0.2rem;
                    padding: 0.3rem 0.6rem;

                    .number {
                        font-weight: bold;
                    }

                    .text {
                        font-size: 85%;
                        color: rgb(61, 61, 61);
                    }

                }
            }
        }

        .media {
            flex-basis: 50%;
            position: relative;
            overflow: hidden;

            &:before {
                display: block;
                content: '';
                padding-top: 100%;
            }

            img {
                display: block;
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }

        }
    }
}