.site-header{
    background-color: #202020;
    color: white;
    text-decoration: none;
    padding: 1rem;

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        @include mqq(680px, min){
            justify-content: space-between;
        }

        #nav-toggle {
            animation: navitemsin 0.3s 1 ease-out forwards;
            margin-top: 0.2rem;
    
            @include mqq(680px, min){
                display: none;
            }
        }
        
        .navigation-left{
            display: none;
            order: 5;
            flex-basis: 100%;
            text-align: center;
            margin-top: 1rem;

            @include mqq(680px, min){
                display: block;
                order: 1;
                flex-basis: auto;
                text-align: start;
                margin-top: 0;
            }

            ul{
                display: block;
                margin: 0;

                @include mqq(680px, min){
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    margin: 0;
                }
            }

            li {
                list-style: none outside;

                &:not(last-child){
                    margin-right: 1.5rem;
                }
            }

            a {
                color: white;
                text-decoration: none;
                font-weight: bold;
                transition: color 0.3s ease-out;

                &:hover{
                    color: #2c96d3;
                }
            }
        }
    
        .site-title{
            color: white;
            text-decoration: none;
            font-size: 150%;
            font-weight: bold;
            font-family: Fruktur;
            margin-right: 2rem;
            transition: color 0.3s ease-out;

            @include mqq(680px, min){
                order: 2;
            }


                &:hover{
                    color: #2fd5ff;
                }
        }
    
        .navigation-right{
            display: none;
            order: 6;
            flex-basis: 100%;
            text-align: center;

            @include mqq(680px, min){
                display: block;
                order: 3;
                flex-basis: auto;
                text-align: start;
            }

            ul{
                display: block;
                margin: 0;

                @include mqq(680px, min){
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    margin: 0;
                }
            }

            li {
                list-style: none outside;

                &:not(last-child){
                    margin-right: 1.5rem;
                }
            }

            a {
                color: white;
                text-decoration: none;
                font-weight: bold;

                transition: color 0.3s ease-out;

                &:hover{
                    color: #2c96d3;
                }
            }
        }
    }

}

#nav-main-toggle {
    display: none;
}

#nav-toggle {
    position: relative;
    z-index: 1000;
    font-size: 130%;

    &:hover, &:focus {
        cursor: pointer;
    }

    &::before {
        color: #ffffff;
        content: '\f0c9';
    }
}

#nav-main-toggle:checked + .site-header {
    .navigation-left {
        display: block; 
    }

    .navigation-right {
        display: block; 
    }

    #nav-toggle::before {
        content: '\f00d';
    }
}